In [ ]:
#import hvplot.pandas
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
%matplotlib notebook

# Import API key
#from api_key import geoapify_key

In [5]:
median_sale_path = "Median_List_Price.csv"

median_sale_path_df = pd.read_csv(median_sale_path)

Where are the most affordable places to live in the United States in 2023 based on median price?

In [6]:
#Keep 2023 median sales prices
median_sale_path_2023_df = median_sale_path_df[['RegionName','RegionType','StateName','2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30']]

#Create 2023 average median price
median_sale_path_2023_df['2023 Average Median Sales Price']=median_sale_path_2023_df.mean(axis='columns')

#Sort dataframe to show top ten affordable places to live

#Print median sale prices dataframe
median_sale_path_2023_df.head()

/var/folders/16/y_h1pm0n0vnc3q_20j94qf5c0000gn/T/ipykernel_90733/3707178139.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  median_sale_path_2023_df['2023 Average Median Sales Price']=median_sale_path_2023_df.mean(axis='columns')
/var/folders/16/y_h1pm0n0vnc3q_20j94qf5c0000gn/T/ipykernel_90733/3707178139.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_sale_path_2023_df['2023 Average Median Sales Price']=median_sale_path_2023_df.mean(axis='columns')

,RegionName,RegionType,StateName,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023 Average Median Sales Price
0,United States,country,NaN,371900.0,371900.0,374833.0,383107.0,391107.0,397607.0,381742.333333
1,"New York, NY",msa,NY,619333.0,624667.0,634967.0,647967.0,662633.0,672333.0,643650.000000
2,"Los Angeles, CA",msa,CA,882633.0,885967.0,892967.0,916000.0,942667.0,975333.0,915927.833333
3,"Chicago, IL",msa,IL,299300.0,302167.0,308833.0,319133.0,329500.0,336500.0,315905.500000
4,"Dallas, TX",msa,TX,398000.0,396667.0,400150.0,411813.0,426480.0,438330.0,411906.666667

In [7]:
#Create a map that displays a point for every city in the `median_sales_path_2023_df` DataFrame. The size of the point should be the median price in each city.
%%capture --no-display

# Configure the map plot
map_plot = median_sale_plot_2023_df.hvplot.points('RegionName',
                                      geo = True,
                                      size = '2023 Average Median Sales Price',
                                      scale = 1,
                                      color = 'City',
                                      alpha = 0.5,
                                      tiles = 'OSM',
                                      frame_width = 700,
                                      frame_height = 500)

# Display the map
map_plot

UsageError: Line magic function `%%capture` not found.

In [ ]:
#Do something with salary ranges based on “Teacher”,”Data Scientist”,etc