In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
%matplotlib notebook

In [4]:
for_sale_path = "For_Sale_Inventory.csv"
median_list_path = "Median_List_Price.csv"
median_sale_path = "Median_List_Price.csv"

for_sale_inventory_df = pd.read_csv(for_sale_path)
median_list_path_df = pd.read_csv(median_list_path)
median_sale_path_df = pd.read_csv(median_sale_path)

In [5]:
for_sale_inventory_df = for_sale_inventory_df.rename(columns={"2018-03-31":"March 2018",
                                                              "2019-03-31":"March 2019",
                                                              "2020-03-31":"March 2020",
                                                              "2021-03-31":"March 2021",
                                                              "2022-03-31":"March 2022",
                                                              "2023-03-31":"March 2023"})
housing_inventory = for_sale_inventory_df[["RegionID","RegionName","RegionType","StateName",
                                           "March 2018","March 2019","March 2020","March 2021",
                                           "March 2022","March 2023"]].copy()
housing_inventory

,RegionID,RegionName,RegionType,StateName,March 2018,March 2019,March 2020,March 2021,March 2022,March 2023
0,102001,United States,country,NaN,1421528.0,1449965.0,1309043.0,882081.0,726913.0,835429.0
1,394913,"New York, NY",msa,NY,73707.0,78192.0,74371.0,61966.0,48039.0,43253.0
2,753899,"Los Angeles, CA",msa,CA,21998.0,27132.0,21194.0,19497.0,14653.0,15214.0
3,394463,"Chicago, IL",msa,IL,38581.0,39387.0,39339.0,30715.0,22775.0,20922.0
4,394514,"Dallas, TX",msa,TX,24043.0,28543.0,27993.0,17931.0,14911.0,17053.0
...,...,...,...,...,...,...,...,...,...,...
923,753929,"Zapata, TX",msa,TX,55.0,47.0,42.0,22.0,43.0,49.0
924,394743,"Ketchikan, AK",msa,AK,77.0,80.0,79.0,63.0,61.0,61.0
925,753874,"Craig, CO",msa,CO,115.0,104.0,134.0,83.0,52.0,48.0
926,395188,"Vernon, TX",msa,TX,21.0,47.0,35.0,16.0,28.0,40.0
927,394767,"Lamesa, TX",msa,TX,35.0,34.0,35.0,23.0,28.0,37.0

In [10]:
median_list_path_df = median_list_path_df.rename(columns={"2018-03-31":"March 2018",
                                                              "2019-03-31":"March 2019",
                                                              "2020-03-31":"March 2020",
                                                              "2021-03-31":"March 2021",
                                                              "2022-03-31":"March 2022",
                                                              "2023-03-31":"March 2023"})
housing_inventorys = median_list_path_df[["RegionID","RegionName","RegionType","StateName",
                                           "March 2018","March 2019","March 2020","March 2021",
                                           "March 2022","March 2023"]].copy()
housing_inventorys

,RegionID,RegionName,RegionType,StateName,March 2018,March 2019,March 2020,March 2021,March 2022,March 2023
0,102001,United States,country,NaN,263267.0,281300.0,289600.0,314667.0,346633.0,374833.0
1,394913,"New York, NY",msa,NY,503000.0,528000.0,552333.0,594667.0,592550.0,634967.0
2,753899,"Los Angeles, CA",msa,CA,721333.0,716267.0,779965.0,849629.0,888263.0,892967.0
3,394463,"Chicago, IL",msa,IL,284600.0,291267.0,291633.0,304933.0,297667.0,308833.0
4,394514,"Dallas, TX",msa,TX,322997.0,316967.0,315267.0,335926.0,394667.0,400150.0
...,...,...,...,...,...,...,...,...,...,...
922,753929,"Zapata, TX",msa,TX,NaN,NaN,NaN,149998.0,119167.0,146833.0
923,394743,"Ketchikan, AK",msa,AK,284500.0,294333.0,293983.0,347083.0,432833.0,406333.0
924,753874,"Craig, CO",msa,CO,192833.0,192900.0,213117.0,274967.0,309067.0,355817.0
925,395188,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,123700.0,94241.0
926,394767,"Lamesa, TX",msa,TX,96800.0,161417.0,153000.0,136833.0,153000.0,161000.0

Housing Inventory: How has the housing inventory fluctuated since pre-pandemic times?

In [6]:
home_in_dallas_tx = for_sale_inventory_df.loc[for_sale_inventory_df["RegionName"] == "Dallas, TX"]
home_in_dallas_tx
#for_sale_inventory_df.line(

,RegionID,SizeRank,RegionName,RegionType,StateName,March 2018,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,March 2023,2023-04-30,2023-05-31,2023-06-30
4,394514,4,"Dallas, TX",msa,TX,24043.0,25876.0,28225.0,30490.0,32408.0,...,22863.0,22445.0,21500.0,19985.0,18560.0,17106.0,17053.0,17959.0,19987.0,21731.0

How has the Pandemic impacted Home Sale Prices from 2018-2023 and how have home prices changed since the beginning of the pandemic? Which city/cities saw the greatest rate of increase in price?

In [9]:
median_list_path_df= {
    'RegionName':['New York, NY','Los Angeles, CA','Chicago, IL','Austin, TX','Omaha, NE']
    '2018-03-31': [''],
    'Home_Price': []}
median_list = median_list_path_df
median_list()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3862635838.py, line 2)

List vs. Sold Listing prices that are currently available in the US?

In [ ]:
Where are the most affordable places to live in the United States in 2023 based on median price?