In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
%matplotlib notebook

In [3]:
for_sale_path = "For_Sale_Inventory.csv"
median_list_path = "Median_List_Price.csv"
median_sale_path = "Median_List_Price.csv"

for_sale_inventory_df = pd.read_csv(for_sale_path)
median_list_path_df = pd.read_csv(median_list_path)
median_sale_path_df = pd.read_csv(median_sale_path)

In [4]:
for_sale_inventory_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30
0,102001,0,United States,country,NaN,1421528.0,1500193.0,1592414.0,1660614.0,1709143.0,...,1101482.0,1085079.0,1032570.0,955889.0,884129.0,830977.0,835429.0,845834.0,880503.0,906804.0
1,394913,1,"New York, NY",msa,NY,73707.0,80345.0,85864.0,90067.0,91881.0,...,60262.0,58241.0,55450.0,50400.0,45916.0,42796.0,43253.0,44197.0,45829.0,46180.0
2,753899,2,"Los Angeles, CA",msa,CA,21998.0,23784.0,25605.0,27109.0,28811.0,...,22400.0,21802.0,20477.0,18604.0,16767.0,15382.0,15214.0,15103.0,15283.0,15364.0
3,394463,3,"Chicago, IL",msa,IL,38581.0,42253.0,45757.0,47492.0,48984.0,...,31682.0,30798.0,28771.0,25674.0,22770.0,20829.0,20922.0,21214.0,22091.0,22700.0
4,394514,4,"Dallas, TX",msa,TX,24043.0,25876.0,28225.0,30490.0,32408.0,...,22863.0,22445.0,21500.0,19985.0,18560.0,17106.0,17053.0,17959.0,19987.0,21731.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,753929,935,"Zapata, TX",msa,TX,55.0,55.0,56.0,66.0,65.0,...,44.0,47.0,46.0,47.0,48.0,49.0,49.0,50.0,49.0,47.0
924,394743,936,"Ketchikan, AK",msa,AK,77.0,78.0,80.0,92.0,104.0,...,64.0,63.0,62.0,58.0,56.0,56.0,61.0,66.0,69.0,66.0
925,753874,937,"Craig, CO",msa,CO,115.0,116.0,126.0,148.0,165.0,...,84.0,82.0,75.0,66.0,55.0,49.0,48.0,56.0,65.0,77.0
926,395188,938,"Vernon, TX",msa,TX,21.0,26.0,32.0,39.0,39.0,...,36.0,42.0,46.0,45.0,45.0,40.0,40.0,37.0,40.0,45.0
927,394767,939,"Lamesa, TX",msa,TX,35.0,35.0,37.0,38.0,41.0,...,40.0,43.0,44.0,43.0,43.0,40.0,37.0,34.0,32.0,33.0

Housing Inventory: How has the housing inventory fluctuated since pre-pandemic times?

How has the Pandemic impacted Home Sale Prices from 2018-2023 and how have home prices changed since the beginning of the pandemic? Which city/cities saw the greatest rate of increase in price?

List vs. Sold Listing prices that are currently available in the US?

In [ ]:
Where are the most affordable places to live in the United States in 2023 based on median price?